body{
    font-family: 'Courier New', Courier, monospace;
}

.head{
    text-align: center;
}

p{
    font-size: 12px;
    margin-top: -10px;
}

.chess{
    text-align: center;
}

#hide{
    visibility: hidden;
}